<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TMIT</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../Bi Icons/bootstrap-icons.min.css">
</head>
<body>
    <div class="showcase">
      <div class="backgrd">
        <header>
            <div class="logo">
                <img src="../images/schoolLogo.png"alt="">
                <h1>TMIT</h1>
            </div>
            <div class="navigations">
                <li><a href="">Home</a></li>
                <li><a href="" class="active">About</a></li>
                <li><a href="">Admissions</a></li>
                <li><a href="../../index.html">Students Portal</a></li>
                <li><a href="">E-facilities</a></li>
            </div>
            <div class="navbtn">
                <i class="bi bi-list"></i>
            </div>
        </header>
        <main>
                <div class="introductory_message">
                    <h1><span>THOMAS McGETTRICK</span> INSTITUTE OF TECHNOLOGY. OGOJA, CROSS RIVER STATE</h1>
                    <p>DOCERE ET FACERE AD SALUTIS</p>
                    <div class="btns">
                        <button class="intro-btn">Get Started</button>
                    </div>
                </div>
        </main>  
      </div>  
    </div>
    <section class="welcome">
        <div class="text">
            <h1>Rector's introductory Message</h1>
            <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni laudantium aliquam quidem modi error omnis explicabo unde fugiat, eos autem officiis? Qui esse cum voluptate placeat. Excepturi porro et alias hic consequatur magnam ullam rerum?</P>    
            <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni laudantium aliquam quidem modi error omnis explicabo unde fugiat, eos autem officiis? Qui esse cum voluptate placeat. Excepturi porro et alias hic consequatur magnam ullam rerum?</P>    
        </div>
        <img src="../images/NoPic.jpg" alt="">
    </section>
    <section class="course">
        
    </section>
</body>
</html>