<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/profile.css">
    <link rel="stylesheet" href="../Bi Icons/bootstrap-icons.min.css">
</head>
<body>
    <div class="sidebar">
        <div class="logo">
            <img src="../images/schoolLogo.png" alt="">
            <h1>TMIT</h1>
        </div>
        <div class="navbtn" >
            <i class="bi bi-list" id="navbtn"></i>
            <i class="bi bi-x" id="navclose"></i>
        </div>
        <div class="navigation">
            <a href="./dashboard.html">Dash Board</a>
            <a href="./profile.html">Students Profile</a>
            <a href="./courseReg.html">Course Registration</a>
            <a href="#" class="active">Fees & Payments</a>
        </div>
    </div>
    <div class="mainsection">
        <div class="main_header">
            <input type="text" id="searchTab" placeholder="Search Fee">
        </div>
        <div class="card-container">
            <div class="cards">
                <h1>ADMISSION PROCESSING FEE</h1>
                <h3>10,000.00</h3>
                <div class="payment_info">
                    <p>DeadLine: <span>2 days left</span></p>
                    <button class="pay-btn">Pay</button>
                </div>
            </div>
            <div class="cards">
                <h1>ACCEPTANCE FEES</h1>
                <h3>10,000.00</h3>
                <div class="payment_info">
                    <p>DeadLine: <span>2 days left</span></p>
                    <button class="pay-btn">Pay</button>
                </div>
            </div>
            <div class="cards">
                <h1>TUITION FEES</h1>
                <h3>80,000.00</h3>
                <div class="payment_info">
                    <p>DeadLine: <span>15 days left</span></p>
                    <button class="pay-btn">Pay</button>
                </div>
            </div>
            <div class="cards">
                <h1>MATRICULATION FEES</h1>
                <h3>10,000.00</h3>
                <div class="payment_info">
                    <p>DeadLine: <span>20 days left</span></p>
                    <button class="pay-btn">Pay</button>
                </div>
            </div>
            <div class="cards">
                <h1>LIBRARY FEES</h1>
                <h3>8,000.00</h3>
                <div class="payment_info">
                    <p>DeadLine: <span>2 days left</span></p>
                    <button class="pay-btn">Pay</button>
                </div>
            </div>
            <div class="cards">
                <h1>LAB/WORKSHOP FEES</h1>
                <h3>7,000.00</h3>
                <div class="payment_info">
                    <p>DeadLine: <span>17 days left</span></p>
                    <button class="pay-btn">Pay</button>
                </div>
            </div>
            <div class="cards">
                <h1>EXAMINATION FEES</h1>
                <h3>10,000.00</h3>
                <div class="payment_info">
                    <p>DeadLine: <span>5 days left</span></p>
                    <button class="pay-btn">Pay</button>
                </div>
            </div>
            <div class="cards">
                <h1>SPORTS FEES</h1>
                <h3>3,000.00</h3>
                <div class="payment_info">
                    <p>DeadLine: <span>11 days left</span></p>
                    <button class="pay-btn">Pay</button>
                </div>
            </div>
            <div class="cards">
                <h1>MEDICAL FEES</h1>
                <h3>5,000.00</h3>
                <div class="payment_info">
                    <p>DeadLine: <span>21 days left</span></p>
                    <button class="pay-btn">Pay</button>
                </div>
            </div>
            <div class="cards">
                <h1>DEVELOPMENTAL LEVY</h1>
                <h3>4,000.00</h3>
                <div class="payment_info">
                    <p>DeadLine: <span>15 days left</span></p>
                    <button class="pay-btn">Pay</button>
                </div>
            </div>
            <div class="cards">
                <h1>SUG DUES</h1>
                <h3>1,000.00</h3>
                <div class="payment_info">
                    <p>DeadLine: <span>17 days left</span></p>
                    <button class="pay-btn">Pay</button>
                </div>
            </div>
            <div class="cards">
                <h1>DEPARTMENTAL DUES</h1>
                <h3>2,000.00</h3>
                <div class="payment_info">
                    <p>DeadLine: <span>2 days left</span></p>
                    <button class="pay-btn">Pay</button>
                </div>
            </div>
        </div>
    </div>
    <script src="../js/main.js"></script>
</body>
</html>