<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/profile.css">
    <link rel="stylesheet" href="../Bi Icons/bootstrap-icons.min.css">
</head>
<body>
    <div class="sidebar">
        <div class="logo">
            <img src="../images/schoolLogo.png" alt="">
            <h1>TMIT</h1>
        </div>
        <div class="navbtn" >
            <i class="bi bi-list" id="navbtn"></i>
            <i class="bi bi-x" id="navclose"></i>
        </div>
        <div class="navigation">
            <a href="./dashboard.html">Dash Board</a>
            <a href="#" class="active">Students Profile</a>
            <a href="./courseReg.html">Course Registration</a>
            <a href="./payments.html">Fees & Payments</a>
        </div>
    </div>
    <div class="maintab">
        <div class="profile-info">
            <div class="profile_image">
                <img src="../Images/NoPic.jpg" alt="">
                <div class="student_initial_info">
                    <h1>John Francis</h1>
                    <p>100 HND Student</p>
                    <button>Update Profile</button>
                </div>
            </div>
            <div class="profile_content">
                <div class="content">
                    <h2>PRE DEGREE</h2>
                    <p>Computer Science</p>
                </div>
                <div class="content">
                    <h2>PROGRAMME</h2>
                    <p>Undergraduate</p>
                </div>
                <div class="content">
                    <h2>MATRIC NUMBER</h2>
                    <p>TMI/HT/PMC/22/001</p>
                </div>
                <div class="content modeOfAdmin">
                    <h2>MODE OF ADMISSION</h2>
                    <div class="adminMode">
                        <p>Merit</p>
                        <p>Supplementary</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="personal_info">
            <div class="personal_info_content">
                <p>Surname</p>
                <input  name="Surname" value="John">
            </div>
            <div class="personal_info_content">
                <p>Other Names</p>
                <input  name="OtherNames" value="Francis Ebere">
            </div>
            <div class="personal_info_content">
                <p>Home/Permanent Address</p>
                <input  name="PermanentAddress" value="No 11 buhari road, Alaneme Ichikpa estate, Imo state">
            </div>
            <div class="personal_info_content">
                <p>Date Of Birth</p>
                <input  name="D.O.B" value="2004-04-04">
            </div>
            <div class="personal_info_content">
                <p>State</p>
                <input  name="state" value="Imo State">
            </div>
            <div class="personal_info_content">
                <p>L.G.A</p>
                <input  name="L.G.A" value="Okigwe">
            </div>
            <div class="personal_info_content">
                <p>Nationality</p>
                <input  name="Nationality" value="Nigerian">
            </div>
            <div class="personal_info_content">
                <p>Phone Number</p>
                <input  name="Phone" value="08044353307">
            </div>
            <div class="personal_info_content">
                <p>Email Address</p>
                <input  name="email" value="jonebere142@gmail.com">
            </div>
        </div>
    </div>
    <script src="../js/main.js"></script>
</body>
</html>