<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../Bi Icons/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../css/signup.css">
</head>
<body>
    <div class="background">
    <header>
        <div class="logo">
            <img src="../images/schoolLogo.png" alt="">
            <h1>TMIT</h1>
        </div>
        <div class="navigations" id="navTab">
            <li><a href="">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Admissions</a></li>
            <li><a href="" class="active">Students Portal</a></li>
            <li><a href="">E-facilities</a></li>
        </div>
        <div class="navbtn">
            <i class="bi bi-list" id="navbtn"></i>
        </div>
    </header>
    <main>
        <div class="introductory_message">
            <h4>Welcome New Applicants to</h4>
            <h1><span>THOMAS McGETTRICK</span> <br>
                INSTITUTE OF TECHNOLOGY. <br>
                 OGOJA, CROSS RIVER STATE</h1>
            <p>DOCERE ET FACERE AD SALUTIS</p>
            <p>A noble institution</p>
        </div>
        <form>
            <div class="introductory_text">
                <h2>Create new account</h2>
            </div>
            <div class="username">
                <div class="input">
                    <p>Surname</p>
                    <input type="text" id="indexUsername">
                </div>
                <div class="input">
                    <p>First Name</p>
                    <input type="text" id="indexUsername">
                </div>
                <div class="input">
                    <p>Last Name</p>
                    <input type="text" id="indexUsername">
                </div>
            </div>
            <div class="userauth">
                <div class="input">
                    <p>Admission Number</p>
                    <input type="text" id="indexregno">
                </div>
                <div class="input">
                    <p>Password</p>
                    <input type="password" id="indexUserpassword">
                </div>
            </div>
            <div class="userreference">
                <div class="input">
                    <p>Phone number 1</p>
                    <input type="number" id="indexphoneno">
                </div>
                <div class="input">
                    <p>Phone number 2</p>
                    <input type="number" id="indexphoneno">
                </div>
            </div>
            <div class="useremail">
                <div class="input">
                    <p>Email Address</p>
                    <input type="email" id="indexemail">
                </div> 
            </div>
            <div class="otherDetails">
                <div class="input">
                    <p>Date Of Birth:</p>
                    <input type="number" name="Date_of_Birth" >
                </div> 
                <div class="input">
                    <p>State of Origin:</p>
                    <input type="text" name="stateOfOrigin" >
                </div> 
            </div>
            <div class="buttons_container">
                <button class="nextbtn" id="nextbtn">Next</button>
            </div>
        </form>
    </main>
    </div>
    <script src="../js/main.js"></script>
</body>
</html>